#ignore .vagrant files
kubernetes-vagrant/.vagrant
kubernetes-vagrant/.vagrant/*

#ignore log files
*.log
kubernetes-vagrant/*.log

#ignore files in sandbox
!kubernetes-vagrant/kube-sandbox/README.md
!kubernetes-vagrant/kube-sandbox/*.yml
kubernetes-vagrant/kube-sandbox/*
